.home{
    &-banner{
        position: relative;
        padding-top: 62%;
        background: url(../img/home-banner-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: -150px;
        .el__meta{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 20px;
            width: 100%;
            height: 100%;
            padding-top: 14%;
        }
        .el__title{
            font-family: 'Mahameru';
            font-weight: 500;
            font-size: 96px;
            line-height: 100px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 25px;
        }
        .el__excerpt{
            font-size: 21px;
            line-height: 34px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
            opacity: 0.7;
        }
    }
    &-intro{
        position: relative;
        padding: 120px 0 25px;
        top: -120px;
        margin-bottom: -120px;
        overflow: hidden;
        .container{
            max-width: 1268px;
        }
        .-box1{
            margin-bottom: 100px;
        }
        &-row2{
            max-width: 944px;
            margin: 0 auto;
            .sc__header{
                margin-bottom: 0;
            }
            .row{
                --bs-gutter-x: 150px;
            }
            .el__box2{
                margin-bottom: 30px;
                +.el__box2{
                    .sc__header{text-align: right;}
                }
            }
        }
        .el__item2{
            .dnfix__thumb{
                max-width: 280px;
                padding-top:100%;
            }
        }
        .slider{
            &-nav{
                padding-bottom:60px;
            }
            &-for{
                margin-bottom: 30px;
            }
            &__item{
                text-align: center;
                &__thumb{
                    max-width: 370px;
                    margin: 0 auto 30px;
                }
                .dnfix__thumb{
                    padding-top: 93%;
                }
                &__title{
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 26px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    margin-bottom: 16px;
                }
                &__sub{
                    position: relative;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.485em;
                    padding:0 10px;
                    text-transform: uppercase;
                    color: #D6C7E1;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: -28px;
                        width: 28px;
                        height: 2px;
                        background: linear-gradient(to left, #8477CA, transparent);
                    }
                    &:after {
                        left: auto;
                        right: -28px;
                        transform: rotate(180deg);
                    }
                }
            }
            &__item2{
                padding-top:50px;
                &__title{
                    font-family: Mahameru;
                    font-weight: 500;
                    font-size: 72px;
                    line-height: 72px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    span{
                        color: #40EEF9;
                    }
                }
                &__thumb{
                    margin-bottom: 35px;
                    img{
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
    &-mega{
        position: relative;
        padding: 25px 0 90px;

        &:before{
            content: '';
            position: absolute;
            top: -120px;
            left: 0;
            width: 100%;
            height: calc(100% + 120px);
            background:url(../img/home-mega-bg.png) no-repeat;
            background-size:cover;
            background-repeat: no-repeat;
            z-index: -1;
        }
        .container{
            max-width: 1184px;
        }
        .el{
            &__item{
                position: relative;
                width: 100%;
                padding: 25px 25px;
                background:url(../img/home-mega-item.png) no-repeat;
                background-size: cover;
                text-align: center;
                margin-bottom: 30px;
                border-radius: 10px;
                &.-s2{
                    top: 90px;
                }
                &__thumb{
                    margin-bottom: 24px;
                }
                .dnfix__thumb{
                    padding-top: 68%;
                }
                &__title{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }
                &__excerpt{
                    font-size: 14px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    opacity: 0.8;
                    margin-bottom: 42px;
                }
                &__sub{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #40EEF9;
                    p+p{margin-top: 8px;}
                }
            }
        }
    }
    &-factory{
        padding: 120px 0 130px;
        .sc__header__excerpt{
            opacity: 1;
        }
        .el{
            &__box{
                position: relative;
                padding: 80px 175px 140px;
                border-radius: 75px;
                background: url(../img/home-factory.png) no-repeat;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &__icon{
                position: absolute;
                bottom: -40px;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                max-width: 90%;
                cursor: pointer;
                &__row{
                    >*{
                        width: calc(100% / 9);
                    }
                }
                .dnfix__thumb{
                    padding-top: 100%;
                }
                &__thumb{
                    position: relative;
                    transition: all .5s;
                    &:hover{
                        transform:translateY(-5px);
                    }
                }
                &__text {
                    position: absolute;
                    bottom: -10px;
                    font-family: Mahameru;
                    font-weight: 500;
                    font-size: 23px;
                    text-transform: capitalize;
                    color: #090324;
                    margin-bottom: 30px;
                    text-align: center;
                    width: 82%;
                }

            }
        }
    }
    &-service{
        padding: 130px 0 50px;
        .row {
            --bs-gutter-x: 2.5rem;
        }
        .el{
            &__item{
                text-align: center;
                margin-bottom: 30px;
                transition: all .5s;
                &:hover{
                    transform: translateY(-5px);
                }
                &__thumb{
                    max-width: 265px;
                    margin: 0 auto 30px;
                }
                .dnfix__thumb{
                    padding-top:100%;
                }
                &__title{
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }
                &__excerpt{
                    font-size: 14px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    opacity: 0.8;
                }
            }
        }
    }

    &-mentor{
        position: relative;
        padding: 120px 0 0;
        &:before{
            content: '';
            position: absolute;
            top: -100px;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/home-mentor-bg.png) no-repeat;
            background-size: cover;
            z-index: -1;
        }
        &__wrap{
            overflow: hidden;
        }
        .sc__header{
            margin-bottom: 40px;
        }
        .el__readmore{
            position: relative;
            font-family: Mahameru;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            text-transform: capitalize;
            white-space: nowrap;
            background: -webkit-linear-gradient(90deg,#039099,#11E4F1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            [class^="icon-"]{
                font-size: 16px;
                background: -webkit-linear-gradient(
            45deg, #039099, #11E4F1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
        &__slider {
            width: 130%;
            padding-bottom:30px;
            .slick-list{margin: 0;}
        }

        .slider__item{
            width: 348px;
            transition: all .5s;
            cursor: pointer;
            &:hover{
                .slider__item__thumb{
                    box-shadow: 0px 15px 13px #0F053D;
                }
                .slider__item__title{
                    color: #93fafd;
                }
            }
            &__thumb{
                margin-bottom: 20px;
                border-radius: 60px;
                transition: all .5s;
            }
            .dnfix__thumb{
                padding-top: 100%;
            }
            &__title{
                font-weight: bold;
                font-size: 21px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                transition: all .5s;
            }
        }
        ul.slick-dots {
            bottom: 0;
            top: -70px;
            right: calc( (130% - 1315px)/2 );
            left: auto;
            width: auto;
        }
    }

    &-fund{
        position: relative;
        padding: 120px 0 90px;
        &:before{
            content: '';
            position: absolute;
            top: -200px;
            left: 0;
            width: 100%;
            height: calc(100% + 200px);
            background: url(../img/home-fund-bg.png) no-repeat;
            background-size: cover;
            z-index: -1;
        }
        &-slider{
            padding-bottom: 30px;
        }
        .el__item{
            margin-bottom: 30px;
            &:hover{
                .el__item__title{
                    color: #93fafd;
                }
            }
            &__thumb{
                margin-bottom: 25px;
                background: #fff;
                padding: 10px;
                border-radius: 10px;
            }
            .dnfix__thumb{
                padding-top: 41%;
                transition: all .5s;
            }
            &__title{
                font-weight: bold;
                font-size: 14px;
                line-height: 26px;
                text-align: center;
                text-transform: capitalize;
                color: #FFFFFF;
                transition: all .5s;
            }
        }
    }

    &-orbit{
        position: relative;
        padding: 150px 0 50px;

        &__header2{
            padding-top: 120px;
        }
        .el__item{
            margin-bottom: 30px;
            &:hover{
                .el__item__title{
                    color: #93fafd;
                }
            }
            &__thumb{
                margin-bottom: 25px;
            }
            .dnfix__thumb{
                padding-top: 41%;
            }
            &__title{
                font-weight: bold;
                font-size: 14px;
                line-height: 26px;
                text-align: center;
                text-transform: capitalize;
                color: #FFFFFF;
                transition: all .5s;
            }
        }
        &-slider{
            margin-bottom: 80px;
        }
        .el{
           &__boxs{

                &__header{
                    position: relative;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                }
                &__title{
                    flex: 1 0 auto;
                    font-family: Mahameru;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                }
                &__line{
                    flex-grow: 1;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(to left, #8AD5FF, transparent);
                }
            }
            &__box{
                width: 100%;
                margin-bottom: 40px;
                &__thumb{
                    margin-bottom: 24px;
                }
                .dnfix__thumb{
                    padding-top: 61%;
                }
                &__title{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        .el__boxs2__title{
            display: block;
            text-align: center;
            font-family: Mahameru;
            font-weight: 500;
            font-size: 40px;
            margin-bottom: 50px;
            color: #fff;
        }
        .el__box2{
            background: #fff;
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            font-family: Mahameru;
            border-radius: 5px;
            transition: all .5s;
            &:hover{
                box-shadow: 0px 0px 10px 2px #0fdae7;
            }
            a{
                display: block;
                padding: 25px 5px 20px;
                background: -webkit-linear-gradient(270deg,#fed43e 20%,#f48329);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &-cordinator{
        position: relative;
        padding: 50px 0;
        .nav-tabs--s2{
            border: 0;
            .nav-item {
                flex: 0 0 auto;
                width: calc( 100% / 5);
            }

            .nav-link:hover, .nav-link:focus, .nav-link:focus-visible  {
                border: 0;
            }

            .nav-link.active, .nav-item.show .nav-link, .nav-item:hover{
                background: transparent;
                .el__item {
                    transform: translateY(-5px);
                }
                .el__item__title{
                    color: #10deeb;
                }
            }
            .nav-link{
                width: 100%;
                border: 0;
            }
        }

        .el{
            &__item{
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
                transition: all .5s;
                &:hover{
                    transform: translateY(-5px);
                }
                &__thumb{
                    margin-bottom: 24px;
                }
                .dnfix__thumb{
                    padding-top: 78%;
                }
                &__title{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    color: #fff;
                }
                &__excerpt{
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    p:not(:last-child){
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    &-about{
        padding: 100px 0 150px;
        .el__box{
            max-width: 1085px;
            margin: 0 auto;
            font-family: Mahameru;
            font-weight: 100;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            color: #fff;
            text-shadow: 0px 0px 11px rgba(67, 255, 255, 0.73);
            strong{
                font-weight: 500;
                color: #26FDFD;
            }
            &__thumb{
                margin-bottom: 50px;
            }
        }
    }

    &-partners{
        position: relative;
        padding: 150px 0;
        background:url(../img/home-partner-bg.jpg) no-repeat;
        background-size:cover;
        .js-partner-content{
            position: relative;
            height: 540px;
            overflow: hidden;
            transition: all .5s;
            &:before{
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 55%;
                background: url(../img/home-partner-more.jpg) no-repeat;
                background-size: cover;
                z-index: 1;
                transition: all .5s;
            }
            &.active{
                height: auto;
                &:before{
                    height: 0;
                }
            }
        }
        .el{
            &__box{
                position: relative;
                &__readmore{
                    font-family: Mahameru;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    margin-top: 10px;
                    text-transform: capitalize;
                    cursor: pointer;
                    background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: center;
                    transition: all .5s;
                    [class^="icon-"]{
                        display: block;
                        font-size: 14px;
                        background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            &__item{
                padding: 10px 24px;
                background: #F2FFFF;
                border-radius: 10px;
                margin-bottom: 30px;
                .dnfix__thumb{
                    padding-top: 40px;
                }
            }
        }
    }


    @media (max-width: 1399px){
        &-banner{
            margin-bottom: -100px;
            .el__title {
                font-size: 80px;
                line-height: 85px;
            }
            .el__excerpt {
                font-size: 18px;
            }
        }
        &-mentor__slider {
            width: 110%;
        }
        &-mentor{
            ul.slick-dots {
                right: calc( (110% - 1200px)/2 );
            }
        }
    }
    @media (max-width: 1299px){
        &-banner{
            .el__title {
                font-size: 70px;
                line-height: 80px;
            }
        }
    }
    @media (min-width:992px) and (max-width:1199px){
        &-cordinator {
            .el__col{
                width: 25%;
            }
        }
        &-service{
            .el__col{
                width: 25%;
            }
        }
    }

    @media (max-width: 1199px){

        &-banner {
            padding-top: 90%;
            min-height: 900px;
            margin-bottom: -150px;
            .el__meta {
                padding-top: 20%;
            }
        }

        &-intro{
            .slider__item2__title {
                font-size: 48px;
                line-height: 52px;
            }
        }
        &-factory {
            padding: 80px 0 110px;
            .el__box {
                padding: 80px 100px 120px;
            }

        }
        &-mentor ul.slick-dots {
            right: calc( (110% - 93%)/2 );
        }
        &-service{
            padding: 100px 0 30px;
        }
        &-mentor{
            padding: 100px 0 50px;
            .slider__item {
                width: 250px;
                &__title {
                    font-size: 18px;
                }
            }
        }
        &-fund {
            position: relative;
            padding: 100px 0 60px;
        }
        &-orbit {
            position: relative;
            padding: 100px 0 40px;
            &-slider {
                margin-bottom: 30px;
            }
            .el__boxs {
                padding-top: 100px;
            }
        }
        &-cordinator {
            padding: 100px 0 50px;
        }
        &-about {
            padding: 100px 0;
            .el__box {
                font-size: 36px;
                line-height: 50px;
            }
        }
        &-partners {
            padding: 100px 0;
            .js-partner-content {
                height: 520px;
                margin-bottom: 30px;
            }
        }
        .home-mega {
            padding: 25px 0 50px;
        }
    }
    @media (max-width: 991px){
        &-banner{
            padding-top: 90%;
            .el__title {
                font-size: 50px;
                line-height: 60px;
            }
        }
        &-intro{
            .slider__item2 {
                padding-top: 30px;
                &__thumb {
                    margin-bottom: 30px;
                }
            }
        }
        &-mega{
        }
        &-factory{
            .el__box {
                padding: 80px 50px 120px;
            }
            .el__icon {
                bottom: -50px;
            }
        }
    }
    @media (max-width: 767px){

        &-banner .el__meta {
            padding-top: 30%;
        }

        &-intro{
            .slider__item2 {
                text-align: center;
                line-height: 26px;
            }
            .slider__item__thumb {
                max-width: 300px;
                margin: 0 auto 10px;
            }
        }
        &-mega{
            .sc__header{
                text-align: center;
            }
            .el__item.-s2 {
                top: 0;
            }
        }
        &-service{
        }
        &-factory{
            padding: 0 0;
            .el__box {
                border-radius: 0;
                margin-right: var(--bs-gutter-x, -0.75rem);
                margin-left: var(--bs-gutter-x, -0.75rem);
                background-image: url(../img/home-factory-mb.png);
            }
            .el__icon {
                position: relative;
                max-width: 100%;
            }
        }
        &-mentor{
            padding: 50px 0 0;

            .sc__header{
                text-align: center;
            }
            &__slider {
                margin-bottom: 30px;
            }
            ul.slick-dots {
                left: 0;
                bottom: 0;
                top: auto;
            }
        }
        &-orbit{
            .sc__header {
                text-align: center;
            }
        }
        &-service .row {
            --bs-gutter-x: 1.5rem;
        }

    }
    @media (max-width: 575px){
        &-intro {
            padding: 30px 0px 75px;
        }
        &-about{
            .el__box {
                font-size: 28px;
                line-height: 40px;
            }
        }
        &-partners{
            .js-partner-content {
                height: 558px;
                margin-bottom: 30px;
            }
            .row {
                --bs-gutter-x: 10px;
            }
            .el__item {
                margin-bottom: 10px;
            }
        }

        &-banner {
            padding-top: 200%;
            margin-bottom: -35%;
            background-image: url(../img/home-banner-bg-mb.png);
            .el__title{
                font-size: 48px;
                line-height: 52px;
            }
            .el__meta {
                padding-top: 45%;
            }
            .el__excerpt {
                font-size: 14px;
                line-height: 34px;
            }
        }
    }
    @media (max-width: 480px){
        &-mentor{
            .slider__item{
                width: 100%;
            }
            &__slider {
                width: 100%;
            }
        }
    }
}