@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("../fonts/Mahameru/stylesheet.css");
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
.-color-primary {
  color: #06A95B; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #0E0536;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  --header-height:80px; }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a {
  outline: none; }

strong {
  font-weight: 700; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed, .videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

/* Slider */
.slick-dots li {
  margin: 0 10px; }
  .slick-dots li button {
    position: relative;
    background-color: #124071; }
    .slick-dots li button:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: 18px;
      height: 18px;
      border: 1px solid #40EEF9;
      border-radius: 50%;
      opacity: 0;
      transition: all .5s; }

.slick-dots li.slick-active button, .slick-dots li:hover button {
  background: radial-gradient(55% 55% at 30% 45%, #B3FFFF 0%, #40EEF9 100%);
  transform: rotate(90deg); }
  .slick-dots li.slick-active button:before, .slick-dots li:hover button:before {
    opacity: 1; }

.slickfix .slick-list {
  margin: 0 -50px; }

.slickfix .slick-slide {
  margin: 0 50px; }

.slick-arrow {
  background: #06a964;
  color: #fff;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center; }
  .slick-arrow.slick-disabled {
    opacity: .6; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
br.tb {
  display: none; }
@media (max-width: 991px) {
  br.pc {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  br.tb {
    display: block; } }
@media (min-width: 992px) {
  br.tbl {
    display: none; } }
@media (min-width: 768px) {
  br.mbt {
    display: none; } }
@media (min-width: 576px) {
  br.mb {
    display: none; } }

/**/
.btn {
  position: relative;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 17.5px;
  color: #06A964;
  border-radius: 0;
  background-color: #fff;
  transition: all .5s; }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent #fff;
    height: 40px;
    width: 10px; }
  .btn:before {
    left: -11px;
    top: -1px;
    border-width: 10px 10px 0px 0px; }
  .btn:after {
    right: -11px;
    top: -1px;
    border-width: 0px 0px 10px 10px; }
  .btn:focus {
    box-shadow: none; }
  .btn [class^="icon-"] {
    position: relative;
    right: 0;
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s; }
  .btn:hover {
    transform: translateY(-5px); }
    .btn:hover [class^="icon-"] {
      right: -3px; }
  .btn.-primary {
    color: #fff;
    background-color: #06A95B; }
    .btn.-primary:before, .btn.-primary:after {
      border-color: transparent #06A95B; }
  .btn.-secondary {
    background-color: #BEE274; }

.back-to-top {
  position: absolute;
  top: -90px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  font-size: 24px;
  color: #05D9A3;
  line-height: 60px;
  border-radius: 50%;
  background: linear-gradient(164.77deg, #2E3734 -15.3%, #17181D 79.97%);
  opacity: 0.8;
  border: 1px solid #05D9A3;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .5s; }
  .back-to-top:hover {
    box-shadow: 0px 0px 10px 2px #0ba47e;
    transform: translateY(-5px); }
  @media (max-width: 767px) {
    .back-to-top {
      top: -60px;
      right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; } }

@media (min-width: 992px) {
  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; }

  .g-lg-5, .gx-lg-5 {
    --bs-gutter-x: 3rem; }

  .g-lg-6, .gx-lg-6 {
    --bs-gutter-x: 4rem; }

  .col-lg-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-lg-40 {
    flex: 0 0 auto;
    width: 40%; } }
@media (min-width: 1024px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 95%; } }
@media (min-width: 1200px) {
  .row {
    --bs-gutter-x: 1.9rem; }

  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; }

  .g-lg-5, .gx-lg-5 {
    --bs-gutter-x: 3rem; }

  .g-lg-6, .gx-lg-6 {
    --bs-gutter-x: 4rem; }

  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 95%; }

  .container-lg-1200 {
    max-width: 1200px; } }
@media (min-width: 1400px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1387px; }

  .container-lg-1200 {
    max-width: 1200px; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  padding: 60px 0;
  transition: all .5s; }
  .header .centered-logo {
    transition: opacity .5s; }
    .header .centered-logo img {
      width: auto;
      max-height: 100px;
      transition: all .5s; }
  .header.is-active {
    padding: 30px 0;
    background: #0a0325;
    animation: stuckMoveDown .6s; }
    .header.is-active .centered-logo img {
      max-height: 50px; }
    .header.is-active .main__nav li.centered-logo {
      top: -15px; }
  @media (max-width: 1399px) {
    .header {
      padding: 30px 0; }
      .header .centered-logo img {
        max-height: 75px; } }
  @media (max-width: 1199px) {
    .header .centered-logo img {
      max-height: 55px; } }
  @media (max-width: 991px) {
    .header {
      padding: 18px 0 19px; }
      .header .logo {
        flex-grow: 1; }
        .header .logo img {
          max-height: 40px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.footer {
  padding: 100px 0 40px;
  background: url(../img/footer-bg.png) no-repeat;
  background-size: cover; }
  .footer__contact {
    position: relative;
    margin-bottom: 215px; }
    .footer__contact__wrap {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 85px; }
      .footer__contact__wrap:before, .footer__contact__wrap:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 1px;
        background: linear-gradient(45deg, #8AD5FF, transparent); }
      .footer__contact__wrap:after {
        left: auto;
        right: 0;
        transform: rotate(180deg); }
    .footer__contact .sc__header {
      margin: 0; }
    .footer__contact__readmore {
      display: inline-block;
      min-width: 240px;
      padding: 16px 16px;
      text-align: center;
      background: linear-gradient(360deg, #039099 0%, #11E4F1 100%);
      border-radius: 3px;
      font-weight: bold;
      font-size: 18px;
      color: #FFFFFF; }
  .footer__nav {
    margin-bottom: 90px; }
    .footer__nav .el__menu {
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0px 0;
      background: none; }
      .footer__nav .el__menu a {
        color: #fff; }
      .footer__nav .el__menu > li {
        position: relative;
        display: inline-block;
        padding: 0 2px; }
        .footer__nav .el__menu > li > a {
          position: relative;
          padding: 8px 10px;
          display: block; }
  .footer__logo {
    display: block;
    margin-bottom: 40px;
    text-align: center; }
    .footer__logo img {
      width: auto;
      max-height: 100px; }
  .footer__socical {
    margin-bottom: 40px;
    text-align: center;
    color: #FFFFFF; }
    .footer__socical strong {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      opacity: 0.3; }
    .footer__socical p {
      font-size: 14px;
      line-height: 21px; }
    .footer__socical a {
      color: #FFFFFF; }
    .footer__socical ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer__socical ul a {
        color: #FFFFFF;
        width: 20px;
        height: 20px;
        font-size: 14px;
        background: #535353;
        border-radius: 50%;
        display: block;
        margin: 0 5px;
        color: #fff;
        font-size: 11px; }
  .footer .copyright {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF; }
  @media (max-width: 1199px) {
    .footer__contact {
      margin-bottom: 100px; } }

/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 9;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: capitalize;
  transition: opacity .5s; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    color: #fff;
    transition: background 0.3s; }
  .main__nav .el__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0;
    background: none; }
    .main__nav .el__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .el__menu > li {
      position: relative;
      display: inline-block;
      padding: 0 2px; }
      .main__nav .el__menu > li.menu-item-has-children > a:after {
        content: "\e906";
        font-family: 'icomoon';
        font-size: 5px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-weight: 400; }
      .main__nav .el__menu > li > a {
        position: relative;
        padding: 8px 10px;
        display: block; }
        .main__nav .el__menu > li > a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 0;
          height: 2px;
          transition: all .3s;
          margin: auto;
          background: #fff;
          border-radius: 5px; }
    .main__nav .el__menu li.centered-logo {
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      text-align: center; }
      .main__nav .el__menu li.centered-logo a::before {
        display: none; }
    .main__nav .el__menu li.-button > a {
      padding: 8px 24px;
      font-weight: 700;
      background: linear-gradient(360deg, #039099 0%, #11E4F1 100%);
      border-radius: 5px; }
    .main__nav .el__menu > li:hover > a:before, .main__nav .el__menu > li.active > a:before, .main__nav .el__menu .current_page_parent > a:before, .main__nav .el__menu .current-menu-parent > a:before, .main__nav .el__menu .current-menu-item > a:before, .main__nav .el__menu .current_page_item > a:before {
      width: 100%; }
    .main__nav .el__menu .menu-item-has-children:hover a:before {
      display: none; }
    .main__nav .el__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .el__menu .sub-menu {
      width: 205px;
      position: absolute;
      background: #171C20;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      left: 0px;
      top: 100%;
      z-index: 99;
      text-align: left;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden; }
      .main__nav .el__menu .sub-menu li {
        position: relative;
        line-height: 20px;
        padding: 13px 15px; }
        .main__nav .el__menu .sub-menu li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main__nav .el__menu .sub-menu li:hover {
          background-color: #252A2B; }
          .main__nav .el__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .el__menu .sub-menu li a {
          color: #ffffff; }
      .main__nav .el__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }
  @media (max-width: 1399px) {
    .main__nav .el__menu li.centered-logo {
      top: -20px; } }
  @media (max-width: 1024px) {
    .main__nav {
      display: none; } }
  @media (max-width: 1199px) {
    .main__nav .el__menu > li > a {
      padding: 8px 5px; } }

/*Menu custom*/
.modal-open {
  overflow: hidden; }

.nav__mobile {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  right: -420px;
  width: 400px;
  opacity: 0;
  background: #06A964;
  transition: all .25s;
  z-index: 9999;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
  overflow: auto; }
  .nav__mobile--close {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 25px;
    height: 35px;
    text-align: right; }
  .nav__mobile__header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    color: #fff; }
    .nav__mobile__header img {
      max-height: 50px; }
  .nav__mobile__content {
    position: relative;
    overflow-y: auto;
    padding: 20px 0; }
  .nav__mobile.active {
    right: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .nav__mobile--ul {
    list-style: none; }
    .nav__mobile .nav__mobile--ul li {
      position: relative;
      margin-bottom: 10px; }
      .nav__mobile .nav__mobile--ul li a {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 15px 50px;
        display: block;
        border-bottom: 1px solid transparent;
        transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #fff;
          transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:hover {
          color: #06A95B; }
      .nav__mobile .nav__mobile--ul li.active > a, .nav__mobile .nav__mobile--ul li.current-menu-item > a, .nav__mobile .nav__mobile--ul li.current_page_item > a, .nav__mobile .nav__mobile--ul li:hover > a {
        color: #fff; }
        .nav__mobile .nav__mobile--ul li.active > a:before, .nav__mobile .nav__mobile--ul li.current-menu-item > a:before, .nav__mobile .nav__mobile--ul li.current_page_item > a:before, .nav__mobile .nav__mobile--ul li:hover > a:before {
          width: 100%; }
  @media (max-width: 575px) {
    .nav__mobile {
      width: 100%; }
      .nav__mobile .nav__mobile--ul li a {
        font-size: 16px; } }

/**/
.menu-mb__btn {
  position: relative;
  top: 3px;
  display: block;
  cursor: pointer; }

/**/
.sc__header {
  margin: 0 auto 80px; }
  .sc__header__title {
    font-family: Mahameru;
    font-weight: 500;
    font-size: 58px;
    line-height: 58px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .sc__header__excerpt {
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.8; }
  @media (max-width: 1199px) {
    .sc__header__title {
      font-size: 50px;
      line-height: 58px; } }
  @media (max-width: 991px) {
    .sc__header__title {
      font-size: 42px;
      line-height: 42px; } }
  @media (max-width: 575px) {
    .sc__header {
      margin: 0 auto 30px; }
      .sc__header__excerpt {
        font-size: 14px; } }

.home {
  background: url(../img/bg-noise.png); }
  .home-banner {
    position: relative;
    padding-top: 62%;
    background: url(../img/home-banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -150px; }
    .home-banner .el__meta {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 20px;
      width: 100%;
      height: 100%;
      padding-top: 14%; }
    .home-banner .el__title {
      font-family: 'Mahameru';
      font-weight: 500;
      font-size: 96px;
      line-height: 100px;
      text-transform: capitalize;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 25px; }
    .home-banner .el__excerpt {
      font-size: 21px;
      line-height: 34px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      opacity: 0.7; }
  .home-intro {
    position: relative;
    padding: 0 0 25px;
    overflow: hidden; }
    .home-intro .slider-nav {
      padding-bottom: 60px; }
    .home-intro .slider-for {
      margin-bottom: 30px; }
    .home-intro .slider__item {
      text-align: center; }
      .home-intro .slider__item__thumb {
        margin-bottom: 10px; }
      .home-intro .slider__item .dnfix__thumb {
        padding-top: 93%; }
      .home-intro .slider__item__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 26px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 16px; }
      .home-intro .slider__item__sub {
        position: relative;
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.485em;
        padding: 0 10px;
        text-transform: uppercase;
        color: #D6C7E1; }
        .home-intro .slider__item__sub:before, .home-intro .slider__item__sub:after {
          content: '';
          position: absolute;
          top: 8px;
          left: -28px;
          width: 28px;
          height: 2px;
          background: linear-gradient(to left, #8477CA, transparent); }
        .home-intro .slider__item__sub:after {
          left: auto;
          right: -28px;
          transform: rotate(180deg); }
    .home-intro .slider__item2 {
      padding-top: 50px; }
      .home-intro .slider__item2__thumb {
        margin-bottom: 35px; }
        .home-intro .slider__item2__thumb img {
          margin-bottom: 25px; }
  .home-mega {
    position: relative;
    padding: 25px 0 120px; }
    .home-mega:before {
      content: '';
      position: absolute;
      top: -120px;
      left: 0;
      width: 100%;
      height: calc(100% + 120px);
      background: url(../img/home-mega-bg.png) no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1; }
    .home-mega .container {
      max-width: 1184px; }
    .home-mega .el__item {
      position: relative;
      width: 100%;
      padding: 25px 25px;
      background: url(../img/home-mega-item.png) no-repeat;
      background-size: cover;
      text-align: center;
      margin-bottom: 30px;
      border-radius: 10px; }
      .home-mega .el__item.-s2 {
        top: 90px; }
      .home-mega .el__item__thumb {
        margin-bottom: 24px; }
      .home-mega .el__item .dnfix__thumb {
        padding-top: 64%; }
      .home-mega .el__item__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px; }
      .home-mega .el__item__excerpt {
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
        opacity: 0.8;
        margin-bottom: 42px; }
      .home-mega .el__item__sub {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #40EEF9; }
        .home-mega .el__item__sub p + p {
          margin-top: 8px; }
  .home-factory {
    padding: 120px 0 130px; }
    .home-factory .sc__header__excerpt {
      opacity: 1; }
    .home-factory .el__box {
      position: relative;
      padding: 80px 175px 210px;
      border-radius: 75px;
      background: url(../img/home-factory.png) no-repeat;
      background-size: cover;
      background-repeat: no-repeat; }
    .home-factory .el__icon {
      position: absolute;
      width: 850px;
      bottom: -80px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      max-width: 65%; }
      .home-factory .el__icon .dnfix__thumb {
        padding-top: 100%; }
  .home-service {
    padding: 130px 0 70px; }
    .home-service .row {
      --bs-gutter-x: 2.5rem; }
    .home-service .el__item {
      text-align: center;
      margin-bottom: 30px; }
      .home-service .el__item__thumb {
        margin-bottom: 30px; }
      .home-service .el__item .dnfix__thumb {
        padding-top: 100%; }
      .home-service .el__item__title {
        font-weight: bold;
        font-size: 21px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px; }
      .home-service .el__item__excerpt {
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
        opacity: 0.8; }
  .home-mentor {
    position: relative;
    padding: 100px 0 100px; }
    .home-mentor:before {
      content: '';
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/home-mentor-bg.png) no-repeat;
      background-size: cover;
      z-index: -1; }
    .home-mentor__wrap {
      overflow: hidden; }
    .home-mentor .sc__header {
      margin-bottom: 40px; }
    .home-mentor .el__readmore {
      font-family: Mahameru;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-transform: capitalize;
      background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .home-mentor .el__readmore [class^="icon-"] {
        font-size: 16px;
        background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .home-mentor__slider {
      width: 130%; }
    .home-mentor .slider__item {
      width: 348px; }
      .home-mentor .slider__item__thumb {
        margin-bottom: 20px; }
      .home-mentor .slider__item .dnfix__thumb {
        padding-top: 100%; }
      .home-mentor .slider__item__title {
        font-weight: bold;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF; }
    .home-mentor ul.slick-dots {
      bottom: 0;
      top: -70px;
      right: calc( (130% - 1315px)/2 );
      left: auto;
      width: auto; }
  .home-fund {
    position: relative;
    padding: 50px 0 180px; }
    .home-fund:before {
      content: '';
      position: absolute;
      top: -200px;
      left: 0;
      width: 100%;
      height: calc(100% + 200px);
      background: url(../img/home-fund-bg.png) no-repeat;
      background-size: cover;
      z-index: -1; }
    .home-fund-slider {
      padding-bottom: 30px; }
    .home-fund .el__item {
      margin-bottom: 30px; }
      .home-fund .el__item__thumb {
        margin-bottom: 25px; }
      .home-fund .el__item .dnfix__thumb {
        padding-top: 41%; }
      .home-fund .el__item__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF; }
  .home-orbit {
    position: relative;
    padding: 150px 0 170px; }
    .home-orbit-slider {
      padding-bottom: 30px; }
    .home-orbit .el__item {
      margin-bottom: 30px; }
      .home-orbit .el__item__thumb {
        margin-bottom: 25px; }
      .home-orbit .el__item .dnfix__thumb {
        padding-top: 41%; }
      .home-orbit .el__item__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF; }
    .home-orbit-slider {
      margin-bottom: 170px; }
    .home-orbit .el__boxs__header {
      position: relative;
      margin-bottom: 30px;
      display: flex;
      align-items: center; }
    .home-orbit .el__boxs__title {
      flex: 1 0 auto;
      font-family: Mahameru;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-transform: capitalize;
      color: #FFFFFF; }
    .home-orbit .el__boxs__line {
      flex-grow: 1;
      width: 100%;
      height: 1px;
      background: linear-gradient(to left, #8AD5FF, transparent); }
    .home-orbit .el__box {
      width: 100%;
      margin-bottom: 40px; }
      .home-orbit .el__box__thumb {
        margin-bottom: 24px; }
      .home-orbit .el__box .dnfix__thumb {
        padding-top: 61%; }
      .home-orbit .el__box__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase; }
  .home-cordinator {
    position: relative;
    padding: 140px 0 120px;
    background: url(../img/home-cordinator-bg.png) no-repeat;
    background-size: cover; }
    .home-cordinator .el__item {
      width: 100%;
      margin-bottom: 30px;
      text-align: center; }
      .home-cordinator .el__item__thumb {
        margin-bottom: 24px; }
      .home-cordinator .el__item .dnfix__thumb {
        padding-top: 78%; }
      .home-cordinator .el__item__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .home-cordinator .el__item__excerpt {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF; }
        .home-cordinator .el__item__excerpt p:not(:last-child) {
          margin-bottom: 8px; }
  .home-about {
    padding: 150px 0; }
    .home-about .el__box {
      max-width: 1085px;
      margin: 0 auto;
      font-family: Mahameru;
      font-weight: 100;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      color: #fff;
      text-shadow: 0px 0px 11px rgba(67, 255, 255, 0.73); }
      .home-about .el__box strong {
        font-weight: 500;
        color: #26FDFD; }
      .home-about .el__box__thumb {
        margin-bottom: 50px; }
  .home-partners {
    position: relative;
    padding: 150px 0;
    background: url(../img/home-partner-bg.jpg) no-repeat;
    background-size: cover; }
    .home-partners .js-partner-content {
      position: relative;
      height: 540px;
      overflow: hidden;
      transition: all .5s; }
      .home-partners .js-partner-content:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55%;
        background: url(../img/home-partner-more.jpg) no-repeat;
        background-size: cover;
        z-index: 1;
        transition: all .5s; }
      .home-partners .js-partner-content.active {
        height: auto; }
        .home-partners .js-partner-content.active:before {
          height: 0; }
    .home-partners .el__box {
      position: relative; }
      .home-partners .el__box__readmore {
        font-family: Mahameru;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        margin-top: 10px;
        text-transform: capitalize;
        cursor: pointer;
        background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center; }
        .home-partners .el__box__readmore [class^="icon-"] {
          display: block;
          font-size: 14px;
          background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
    .home-partners .el__item {
      padding: 10px 24px;
      background: #F2FFFF;
      border-radius: 10px;
      margin-bottom: 30px; }
      .home-partners .el__item .dnfix__thumb {
        padding-top: 40px; }
  @media (max-width: 1399px) {
    .home-banner {
      margin-bottom: -50px; }
      .home-banner .el__title {
        font-size: 80px;
        line-height: 85px; }
      .home-banner .el__excerpt {
        font-size: 18px; }
    .home-mentor__slider {
      width: 110%; }
    .home-mentor ul.slick-dots {
      right: calc( (110% - 1200px)/2 ); } }
  @media (max-width: 1299px) {
    .home-banner .el__title {
      font-size: 70px;
      line-height: 80px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .home-cordinator .el__col {
      width: 25%; }
    .home-service .el__col {
      width: 25%; } }
  @media (max-width: 1199px) {
    .home-factory {
      padding: 80px 0 130px; }
      .home-factory .el__box {
        padding: 80px 100px 120px; }
    .home-mentor ul.slick-dots {
      right: calc( (110% - 93%)/2 ); }
    .home-service {
      padding: 80px 0 80px; }
    .home-mentor {
      padding: 50px 0 100px; }
      .home-mentor .slider__item {
        width: 250px; }
        .home-mentor .slider__item__title {
          font-size: 18px; }
    .home-fund {
      position: relative;
      padding: 50px 0 80px; }
    .home-orbit {
      position: relative;
      padding: 80px 0 80px; }
      .home-orbit-slider {
        margin-bottom: 120px; }
    .home-cordinator {
      padding: 80px 0 50px; }
    .home-about {
      padding: 80px 0; }
      .home-about .el__box {
        font-size: 36px;
        line-height: 50px; }
    .home-partners {
      padding: 80px 0; } }
  @media (max-width: 991px) {
    .home-banner {
      padding-top: 90%; }
      .home-banner .el__title {
        font-size: 50px;
        line-height: 60px; }
    .home-intro .slider__item2 {
      padding-top: 30px; }
      .home-intro .slider__item2__thumb {
        margin-bottom: 30px; }
    .home-mega .el__item__thumb {
      margin-bottom: 15px; }
    .home-mega .el__item__excerpt {
      margin-bottom: 25px; }
    .home-factory .el__box {
      padding: 80px 50px 120px; }
    .home-factory .el__icon {
      bottom: -50px; } }
  @media (max-width: 575px) {
    .home .home-banner {
      padding-top: 200%;
      margin-bottom: -35%;
      background-image: url(../img/home-banner-bg-mb.png); }
      .home .home-banner .el__title {
        font-size: 48px;
        line-height: 52px; }
      .home .home-banner .el__meta {
        padding-top: 45%; }
      .home .home-banner .el__excerpt {
        font-size: 14px;
        line-height: 34px; } }

/*# sourceMappingURL=main.css.map */
