@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("../fonts/Mahameru/stylesheet.css");
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
.-color-primary {
  color: #06A95B; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #0E0536;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  background: url(../img/bg-noise.png);
  --header-height:80px; }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a {
  outline: none; }

strong {
  font-weight: 700; }

.wrapper {
  overflow: hidden; }

/**/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed, .videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

/* Slider */
.slick-dots li {
  margin: 0 10px; }
  .slick-dots li button {
    position: relative;
    background-color: #124071; }
    .slick-dots li button:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: 18px;
      height: 18px;
      border: 1px solid #40EEF9;
      border-radius: 50%;
      opacity: 0;
      transition: all .5s; }

.slick-dots li.slick-active button, .slick-dots li:hover button {
  background: radial-gradient(55% 55% at 30% 45%, #B3FFFF 0%, #40EEF9 100%);
  transform: rotate(90deg); }
  .slick-dots li.slick-active button:before, .slick-dots li:hover button:before {
    opacity: 1; }

.slickfix .slick-list {
  margin: 0 -50px; }

.slickfix .slick-slide {
  margin: 0 50px; }

.slick-arrow {
  background: #06a964;
  color: #fff;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center; }
  .slick-arrow.slick-disabled {
    opacity: .6; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
br.tb {
  display: none; }
@media (max-width: 991px) {
  br.pc {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  br.tb {
    display: block; } }
@media (min-width: 992px) {
  br.tbl {
    display: none; } }
@media (min-width: 768px) {
  br.mbt {
    display: none; } }
@media (min-width: 576px) {
  br.mb {
    display: none; } }

/**/
.btn {
  position: relative;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 17.5px;
  color: #06A964;
  border-radius: 0;
  background-color: #fff;
  transition: all .5s; }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent #fff;
    height: 40px;
    width: 10px; }
  .btn:before {
    left: -11px;
    top: -1px;
    border-width: 10px 10px 0px 0px; }
  .btn:after {
    right: -11px;
    top: -1px;
    border-width: 0px 0px 10px 10px; }
  .btn:focus {
    box-shadow: none; }
  .btn [class^="icon-"] {
    position: relative;
    right: 0;
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s; }
  .btn:hover {
    transform: translateY(-5px); }
    .btn:hover [class^="icon-"] {
      right: -3px; }
  .btn.-primary {
    color: #fff;
    background-color: #06A95B; }
    .btn.-primary:before, .btn.-primary:after {
      border-color: transparent #06A95B; }
  .btn.-secondary {
    background-color: #BEE274; }

.back-to-top {
  position: absolute;
  top: -90px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  font-size: 24px;
  color: #05D9A3;
  line-height: 60px;
  border-radius: 50%;
  background: linear-gradient(164.77deg, #2E3734 -15.3%, #17181D 79.97%);
  opacity: 0.8;
  border: 1px solid #05D9A3;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .5s; }
  .back-to-top:hover {
    box-shadow: 0px 0px 10px 2px #0ba47e;
    transform: translateY(-5px); }
  @media (max-width: 767px) {
    .back-to-top {
      top: -60px;
      right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; } }

@media (max-width: 1023px) {
  .container-sm, .container {
    max-width: 100%; } }
@media (min-width: 992px) {
  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; }

  .g-lg-5, .gx-lg-5 {
    --bs-gutter-x: 3rem; }

  .g-lg-6, .gx-lg-6 {
    --bs-gutter-x: 4rem; }

  .col-lg-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-lg-40 {
    flex: 0 0 auto;
    width: 40%; } }
@media (min-width: 1024px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 95%; } }
@media (min-width: 1200px) {
  .row {
    --bs-gutter-x: 1.9rem; }

  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; }

  .g-lg-5, .gx-lg-5 {
    --bs-gutter-x: 3rem; }

  .g-lg-6, .gx-lg-6 {
    --bs-gutter-x: 4rem; }

  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 95%; }

  .container-lg-1200 {
    max-width: 1200px; }

  .container-lg-800 {
    max-width: 800px; } }
@media (min-width: 1400px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1387px; }

  .container-lg-1200 {
    max-width: 1200px; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  padding: 60px 0;
  transition: all .5s; }
  .header .centered-logo {
    transition: opacity .5s; }
    .header .centered-logo img {
      width: auto;
      max-height: 100px;
      transition: all .5s; }
  .header.is-active {
    padding: 30px 0;
    background: #0a0325;
    animation: stuckMoveDown .6s; }
    .header.is-active .centered-logo img {
      max-height: 50px; }
    .header.is-active .main__nav li.centered-logo {
      top: -15px; }
    .header.is-active .header__mb img {
      max-height: 50px; }
  .header__mb {
    position: relative;
    display: none;
    width: 100%;
    text-align: center; }
    .header__mb img {
      width: auto;
      max-height: 80px;
      transition: all .5s; }
  @media (max-width: 1399px) {
    .header {
      padding: 30px 0; }
      .header .centered-logo img {
        max-height: 75px; } }
  @media (max-width: 1299px) {
    .header.is-active {
      padding: 15px 0; }
    .header__mb {
      display: block; } }
  @media (max-width: 1199px) {
    .header .centered-logo img {
      max-height: 55px; } }
  @media (max-width: 991px) {
    .header {
      padding: 18px 0 19px; }
      .header .logo {
        flex-grow: 1; }
        .header .logo img {
          max-height: 40px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.home .footer {
  background: url(../img/footer-bg.png) no-repeat;
  padding: 95px 0 40px; }
  @media (max-width: 767px) {
    .home .footer {
      padding: 80px 0 120px; } }

.footer {
  padding: 18% 0 40px;
  background: url(../img/footer-bg2.png) no-repeat;
  background-size: cover;
  background-position: center bottom; }
  .footer__contact {
    position: relative;
    margin-bottom: 215px; }
    .footer__contact__wrap {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 80px; }
      .footer__contact__wrap:before, .footer__contact__wrap:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 1px;
        background: linear-gradient(45deg, #8AD5FF, transparent); }
      .footer__contact__wrap:after {
        left: auto;
        right: 0;
        transform: rotate(180deg); }
    .footer__contact .sc__header {
      margin: 0; }
    .footer__contact__readmore {
      position: relative;
      display: inline-block;
      min-width: 240px;
      padding: 16px 16px;
      text-align: center;
      background: linear-gradient(360deg, #039099 0%, #11E4F1 100%);
      border-radius: 3px;
      font-weight: bold;
      font-size: 18px;
      color: #FFFFFF; }
      .footer__contact__readmore:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(101.72deg, #11e3f0 6.16%, #04969f 95.73%);
        border-radius: 3px;
        opacity: 0;
        transition: all .5s; }
      .footer__contact__readmore span {
        position: relative;
        z-index: 1; }
      .footer__contact__readmore:hover {
        color: #fff; }
        .footer__contact__readmore:hover:after {
          height: 100%;
          opacity: 1; }
  .footer__nav {
    margin-bottom: 90px; }
    .footer__nav .el__menu {
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0px 0;
      background: none; }
      .footer__nav .el__menu a {
        color: #fff;
        transition: all .5s; }
      .footer__nav .el__menu > li {
        position: relative;
        display: inline-block;
        padding: 0 2px; }
        .footer__nav .el__menu > li > a {
          position: relative;
          padding: 8px 10px;
          display: block;
          text-transform: uppercase; }
      .footer__nav .el__menu > li:hover a, .footer__nav .el__menu > li.active a, .footer__nav .el__menu .current_page_parent a, .footer__nav .el__menu .current-menu-parent a {
        color: #11e3f0; }
  .footer__logo {
    display: block;
    margin-bottom: 40px;
    text-align: center; }
    .footer__logo img {
      width: auto;
      max-height: 100px; }
  .footer__socical {
    margin-bottom: 40px;
    text-align: center;
    color: #FFFFFF; }
    .footer__socical strong {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      opacity: 0.3; }
    .footer__socical p {
      font-size: 14px;
      line-height: 21px; }
    .footer__socical a {
      color: #FFFFFF; }
    .footer__socical ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer__socical ul a {
        color: #FFFFFF;
        width: 20px;
        height: 20px;
        font-size: 14px;
        background: #535353;
        border-radius: 50%;
        display: block;
        margin: 0 5px;
        color: #fff;
        font-size: 11px;
        line-height: 21px;
        transition: all .5s; }
        .footer__socical ul a:hover {
          background: #0fdae7;
          color: #222;
          transform: translateY(-5px); }
      .footer__socical ul .icon-telegram {
        font-size: 9px;
        position: relative;
        left: -1px; }
      .footer__socical ul .icon-linkin {
        font-size: 9px;
        position: relative;
        top: -1px; }
  .footer .copyright {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF; }
  @media (max-width: 1199px) {
    .footer__contact {
      margin-bottom: 100px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 18% 0 120px; }
      .footer__contact {
        margin-bottom: 40px; }
        .footer__contact .sc__header {
          width: 100%;
          text-align: center;
          margin-bottom: 30px; }
        .footer__contact .el__col {
          text-align: center;
          width: 100%; }
      .footer__nav {
        margin-bottom: 40px; } }

/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 9;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: capitalize;
  transition: opacity .5s; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    color: #fff;
    transition: background 0.3s; }
  .main__nav .el__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0;
    background: none; }
    .main__nav .el__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .el__menu > li {
      position: relative;
      display: inline-block;
      margin: 0 4px; }
      .main__nav .el__menu > li.menu-item-has-children > a:after {
        content: "\e906";
        font-family: 'icomoon';
        font-size: 5px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-weight: 400; }
      .main__nav .el__menu > li > a {
        position: relative;
        padding: 8px 8px;
        display: block;
        text-transform: uppercase; }
        .main__nav .el__menu > li > a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 0;
          height: 2px;
          transition: all .3s;
          margin: auto;
          background: #fff;
          border-radius: 5px; }
    .main__nav .el__menu li.centered-logo {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center; }
      .main__nav .el__menu li.centered-logo a::before {
        display: none; }
    .main__nav .el__menu li.-button {
      background: linear-gradient(360deg, #039099 0%, #11E4F1 100%);
      border-radius: 5px; }
      .main__nav .el__menu li.-button > a {
        position: relative;
        z-index: 1;
        padding: 8px 24px;
        font-weight: 700; }
      .main__nav .el__menu li.-button:hover {
        color: #fff; }
        .main__nav .el__menu li.-button:hover:after {
          height: 100%;
          opacity: 1; }
      .main__nav .el__menu li.-button:hover > a:before {
        display: none; }
      .main__nav .el__menu li.-button:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(101.72deg, #11e3f0 6.16%, #04969f 95.73%);
        border-radius: 5px;
        opacity: 0;
        transition: all .5s; }
    .main__nav .el__menu > li:hover > a:before, .main__nav .el__menu > li.active > a:before, .main__nav .el__menu .current_page_parent > a:before, .main__nav .el__menu .current-menu-parent > a:before, .main__nav .el__menu .current-menu-item > a:before, .main__nav .el__menu .current_page_item > a:before {
      width: 100%; }
    .main__nav .el__menu .menu-item-has-children:hover a:before {
      display: none; }
    .main__nav .el__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .el__menu .sub-menu {
      width: 205px;
      position: absolute;
      background: #171C20;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      left: 0px;
      top: 100%;
      z-index: 99;
      text-align: left;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden; }
      .main__nav .el__menu .sub-menu li {
        position: relative;
        line-height: 20px;
        padding: 13px 15px; }
        .main__nav .el__menu .sub-menu li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main__nav .el__menu .sub-menu li:hover {
          background-color: #252A2B; }
          .main__nav .el__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .el__menu .sub-menu li a {
          color: #ffffff; }
      .main__nav .el__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }
  @media (max-width: 1399px) {
    .main__nav .el__menu li.centered-logo {
      top: -20px; } }
  @media (max-width: 1299px) {
    .main__nav {
      display: none; } }
  @media (max-width: 1199px) {
    .main__nav .el__menu > li > a {
      padding: 8px 5px; } }

/*Menu custom*/
@media (max-width: 575px) {
  .modal-open {
    overflow: hidden; } }
.nav__mobile {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  right: -420px;
  width: 400px;
  opacity: 0;
  background: #0c042d;
  transition: all .25s;
  z-index: 9999;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
  overflow: auto; }
  .nav__mobile--close {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 25px;
    height: 35px;
    text-align: right; }
  .nav__mobile__header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    color: #fff; }
    .nav__mobile__header img {
      max-height: 50px; }
  .nav__mobile__content {
    position: relative;
    overflow-y: auto;
    padding: 20px 0; }
  .nav__mobile.active {
    right: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .nav__mobile--ul {
    list-style: none; }
    .nav__mobile .nav__mobile--ul li {
      position: relative;
      margin-bottom: 10px; }
      .nav__mobile .nav__mobile--ul li a {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 15px 50px;
        display: block;
        border-bottom: 1px solid transparent;
        transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #fff;
          transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:hover {
          color: #06A95B; }
      .nav__mobile .nav__mobile--ul li.active > a, .nav__mobile .nav__mobile--ul li.current-menu-item > a, .nav__mobile .nav__mobile--ul li.current_page_item > a, .nav__mobile .nav__mobile--ul li:hover > a {
        color: #fff; }
        .nav__mobile .nav__mobile--ul li.active > a:before, .nav__mobile .nav__mobile--ul li.current-menu-item > a:before, .nav__mobile .nav__mobile--ul li.current_page_item > a:before, .nav__mobile .nav__mobile--ul li:hover > a:before {
          width: 100%; }
  @media (max-width: 575px) {
    .nav__mobile {
      width: 100%; }
      .nav__mobile .nav__mobile--ul li a {
        font-size: 16px; } }

/**/
.menu-mb__btn {
  position: relative;
  top: 3px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px; }

/*Loader*/
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(269.69deg, #202d5c -18.14%, #0e0a33 126.63%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center; }

.loading-page__logo {
  position: relative;
  overflow: hidden; }

.loading-page__logo:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: shine 2.5s infinite cubic-bezier(0.42, 0, 0.58, 1);
  animation: shine 2.5s infinite cubic-bezier(0.42, 0, 0.58, 1);
  background: rgba(75, 25, 114, 0.8);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #191f4b 50%, rgba(255, 255, 255, 0) 100%); }

@keyframes shine {
  0% {
    transform: translateX(-100%) skew(-30deg); }
  100% {
    transform: translateX(200%) skew(-30deg); } }
/**/
.neon-glow .-neon {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 10px;
  height: 10px;
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
  background: #fff;
  border-radius: 50%;
  opacity: .5; }

.neon-glow .-neon:nth-child(2) {
  top: 22%;
  left: 33%;
  width: 5px;
  height: 5px; }

.neon-glow .-neon:nth-child(3) {
  top: 16%;
  left: 80%;
  width: 10px;
  height: 10px; }

.neon-glow .-neon:nth-child(4) {
  top: 33%;
  left: 20%;
  width: 15px;
  height: 15px; }

.neon-glow .-neon:nth-child(5) {
  top: 37%;
  left: 60%;
  width: 10px;
  height: 10px; }

.neon-glow .-neon:nth-child(6) {
  top: 44%;
  left: 10%;
  width: 5px;
  height: 5px; }

.neon-glow .-neon:nth-child(7) {
  top: 57%;
  left: 90%;
  width: 10px;
  height: 10px; }

.neon-glow .-neon:nth-child(8) {
  top: 52%;
  left: 31%;
  width: 15px;
  height: 15px; }

.neon-glow .-neon:nth-child(9) {
  top: 56%;
  left: 14%;
  width: 8px;
  height: 8px; }

.neon-glow .-neon:nth-child(10) {
  top: 66%;
  left: 50%;
  width: 10px;
  height: 10px; }

.neon-glow .-neon:nth-child(11) {
  top: 16%;
  left: 50%;
  width: 5px;
  height: 5px; }

.neon-glow .-neon:nth-child(12) {
  top: 31%;
  left: 50%;
  width: 8px;
  height: 8px; }

.neon-glow .-neon:nth-child(13) {
  top: 22%;
  left: 68%;
  width: 12px;
  height: 12px; }

.neon-glow .-neon:nth-child(14) {
  top: 46%;
  left: 23%;
  width: 5px;
  height: 5px; }

.neon-glow .-neon:nth-child(15) {
  top: 44%;
  left: 40%;
  width: 8px;
  height: 8px; }

.neon-glow .-neon:nth-child(16) {
  top: 45%;
  left: 79%;
  width: 10px;
  height: 10px; }

.neon-glow .-neon:nth-child(17) {
  top: 27%;
  left: 90%;
  width: 4px;
  height: 4px; }

.neon-glow .-neon:nth-child(18) {
  top: 25%;
  left: 5%;
  width: 5px;
  height: 5px; }

.neon-glow .-neon:nth-child(19) {
  top: 42%;
  left: 86%;
  width: 4px;
  height: 4px; }

.neon-glow .-neon:nth-child(20) {
  top: 15%;
  left: 26%;
  width: 10px;
  height: 10px; }

@media (max-width: 767px) {
  .neon-glow .-neon.-hidden-mb {
    display: none; } }
@keyframes neon6 {
  from {
    box-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #10dce9,0 0 70px #10dce9,0 0 80px #10dce9,0 0 100px #10dce9,0 0 150px #10dce9;
    opacity: .5; }
  to {
    box-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #10dce9,0 0 35px #10dce9,0 0 40px #10dce9,0 0 50px #10dce9,0 0 75px #10dce9;
    opacity: 1; } }
/**/
.item__readmore2 {
  position: relative;
  display: inline-block;
  font-family: Mahameru;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  text-transform: capitalize;
  white-space: nowrap;
  background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .5s; }
  .item__readmore2 span {
    font-size: 8px; }
  .item__readmore2:hover {
    background: -webkit-linear-gradient(90deg, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.sc__header {
  margin: 0 auto 80px; }
  .sc__header__title {
    font-family: Mahameru;
    font-weight: 500;
    font-size: 58px;
    line-height: 58px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .sc__header__excerpt {
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.8; }
  @media (max-width: 1199px) {
    .sc__header__title {
      font-size: 48px;
      line-height: 52px; } }
  @media (max-width: 767px) {
    .sc__header {
      margin: 0 auto 30px; }
      .sc__header__title {
        margin-bottom: 16px; } }
  @media (max-width: 575px) {
    .sc__header {
      margin: 0 auto 30px; }
      .sc__header__excerpt {
        font-size: 14px; } }

.home-banner {
  position: relative;
  padding-top: 62%;
  background: url(../img/home-banner-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -150px; }
  .home-banner .el__meta {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    padding-top: 14%; }
  .home-banner .el__title {
    font-family: 'Mahameru';
    font-weight: 500;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 25px; }
  .home-banner .el__excerpt {
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7; }
.home-intro {
  position: relative;
  padding: 120px 0 25px;
  top: -120px;
  margin-bottom: -120px;
  overflow: hidden; }
  .home-intro .-box1 {
    margin-bottom: 100px; }
  .home-intro .slider-nav {
    padding-bottom: 60px; }
  .home-intro .slider-for {
    margin-bottom: 30px; }
  .home-intro .slider__item {
    text-align: center; }
    .home-intro .slider__item__thumb {
      max-width: 370px;
      margin: 0 auto 30px; }
    .home-intro .slider__item .dnfix__thumb {
      padding-top: 93%; }
    .home-intro .slider__item__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 26px;
      text-transform: capitalize;
      color: #FFFFFF;
      margin-bottom: 16px; }
    .home-intro .slider__item__sub {
      position: relative;
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.485em;
      padding: 0 10px;
      text-transform: uppercase;
      color: #D6C7E1; }
      .home-intro .slider__item__sub:before, .home-intro .slider__item__sub:after {
        content: '';
        position: absolute;
        top: 8px;
        left: -28px;
        width: 28px;
        height: 2px;
        background: linear-gradient(to left, #8477CA, transparent); }
      .home-intro .slider__item__sub:after {
        left: auto;
        right: -28px;
        transform: rotate(180deg); }
  .home-intro .slider__item2 {
    padding-top: 50px; }
    .home-intro .slider__item2__title {
      font-family: Mahameru;
      font-weight: 500;
      font-size: 72px;
      line-height: 72px;
      text-transform: capitalize;
      color: #FFFFFF; }
      .home-intro .slider__item2__title span {
        color: #40EEF9; }
    .home-intro .slider__item2__thumb {
      margin-bottom: 35px; }
      .home-intro .slider__item2__thumb img {
        margin-bottom: 25px; }
.home-mega {
  position: relative;
  padding: 25px 0 90px; }
  .home-mega:before {
    content: '';
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: calc(100% + 120px);
    background: url(../img/home-mega-bg.png) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; }
  .home-mega .container {
    max-width: 1184px; }
  .home-mega .el__item {
    position: relative;
    width: 100%;
    padding: 25px 25px;
    background: url(../img/home-mega-item.png) no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px; }
    .home-mega .el__item.-s2 {
      top: 90px; }
    .home-mega .el__item__thumb {
      margin-bottom: 24px; }
    .home-mega .el__item .dnfix__thumb {
      padding-top: 68%; }
    .home-mega .el__item__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px; }
    .home-mega .el__item__excerpt {
      font-size: 14px;
      line-height: 24px;
      text-transform: capitalize;
      color: #FFFFFF;
      opacity: 0.8;
      margin-bottom: 42px; }
    .home-mega .el__item__sub {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #40EEF9; }
      .home-mega .el__item__sub p + p {
        margin-top: 8px; }
.home-factory {
  padding: 120px 0 130px; }
  .home-factory .sc__header__excerpt {
    opacity: 1; }
  .home-factory .el__box {
    position: relative;
    padding: 80px 175px 210px;
    border-radius: 75px;
    background: url(../img/home-factory.png) no-repeat;
    background-size: cover;
    background-repeat: no-repeat; }
  .home-factory .el__icon {
    position: absolute;
    width: 850px;
    bottom: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 65%; }
    .home-factory .el__icon .dnfix__thumb {
      padding-top: 100%; }
    .home-factory .el__icon__thumb {
      position: relative;
      transition: all .5s; }
      .home-factory .el__icon__thumb:hover {
        transform: translateY(-5px); }
    .home-factory .el__icon__text {
      position: absolute;
      bottom: -10px;
      font-family: Mahameru;
      font-weight: 500;
      font-size: 23px;
      text-transform: capitalize;
      color: #090324;
      margin-bottom: 30px;
      text-align: center;
      width: 82%; }
.home-service {
  padding: 130px 0 50px; }
  .home-service .row {
    --bs-gutter-x: 2.5rem; }
  .home-service .el__item {
    text-align: center;
    margin-bottom: 30px;
    transition: all .5s; }
    .home-service .el__item:hover {
      transform: translateY(-5px); }
    .home-service .el__item__thumb {
      max-width: 265px;
      margin: 0 auto 30px; }
    .home-service .el__item .dnfix__thumb {
      padding-top: 100%; }
    .home-service .el__item__title {
      font-weight: bold;
      font-size: 21px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px; }
    .home-service .el__item__excerpt {
      font-size: 14px;
      line-height: 24px;
      text-transform: capitalize;
      color: #FFFFFF;
      opacity: 0.8; }
.home-mentor {
  position: relative;
  padding: 120px 0 0; }
  .home-mentor:before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/home-mentor-bg.png) no-repeat;
    background-size: cover;
    z-index: -1; }
  .home-mentor__wrap {
    overflow: hidden; }
  .home-mentor .sc__header {
    margin-bottom: 40px; }
  .home-mentor .el__readmore {
    position: relative;
    font-family: Mahameru;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
    white-space: nowrap;
    background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    .home-mentor .el__readmore [class^="icon-"] {
      font-size: 16px;
      background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .home-mentor .el__readmore:hover {
      transform: scale(1.1); }
  .home-mentor__slider {
    width: 130%;
    padding-bottom: 30px; }
    .home-mentor__slider .slick-list {
      margin: 0; }
  .home-mentor .slider__item {
    width: 348px;
    transition: all .5s;
    cursor: pointer; }
    .home-mentor .slider__item:hover .slider__item__thumb {
      box-shadow: 0px 15px 13px #0F053D; }
    .home-mentor .slider__item:hover .slider__item__title {
      color: #93fafd; }
    .home-mentor .slider__item__thumb {
      margin-bottom: 20px;
      border-radius: 60px;
      transition: all .5s; }
    .home-mentor .slider__item .dnfix__thumb {
      padding-top: 100%; }
    .home-mentor .slider__item__title {
      font-weight: bold;
      font-size: 21px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: all .5s; }
  .home-mentor ul.slick-dots {
    bottom: 0;
    top: -70px;
    right: calc( (130% - 1315px)/2 );
    left: auto;
    width: auto; }
.home-fund {
  position: relative;
  padding: 120px 0 90px; }
  .home-fund:before {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: calc(100% + 200px);
    background: url(../img/home-fund-bg.png) no-repeat;
    background-size: cover;
    z-index: -1; }
  .home-fund-slider {
    padding-bottom: 30px; }
  .home-fund .el__item {
    margin-bottom: 30px; }
    .home-fund .el__item:hover .el__item__title {
      color: #93fafd; }
    .home-fund .el__item__thumb {
      margin-bottom: 25px;
      background: #fff;
      padding: 10px;
      border-radius: 10px; }
    .home-fund .el__item .dnfix__thumb {
      padding-top: 41%;
      transition: all .5s; }
    .home-fund .el__item__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      transition: all .5s; }
.home-orbit {
  position: relative;
  padding: 150px 0 50px; }
  .home-orbit__header2 {
    padding-top: 120px; }
  .home-orbit .el__item {
    margin-bottom: 30px; }
    .home-orbit .el__item:hover .el__item__title {
      color: #93fafd; }
    .home-orbit .el__item__thumb {
      margin-bottom: 25px; }
    .home-orbit .el__item .dnfix__thumb {
      padding-top: 41%; }
    .home-orbit .el__item__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      transition: all .5s; }
  .home-orbit-slider {
    margin-bottom: 80px; }
  .home-orbit .el__boxs__header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center; }
  .home-orbit .el__boxs__title {
    flex: 1 0 auto;
    font-family: Mahameru;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF; }
  .home-orbit .el__boxs__line {
    flex-grow: 1;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, #8AD5FF, transparent); }
  .home-orbit .el__box {
    width: 100%;
    margin-bottom: 40px; }
    .home-orbit .el__box__thumb {
      margin-bottom: 24px; }
    .home-orbit .el__box .dnfix__thumb {
      padding-top: 61%; }
    .home-orbit .el__box__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase; }
  .home-orbit .el__boxs2__title {
    display: block;
    text-align: center;
    font-family: Mahameru;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
    color: #fff; }
  .home-orbit .el__box2 {
    background: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    font-family: Mahameru;
    border-radius: 5px;
    transition: all .5s; }
    .home-orbit .el__box2:hover {
      box-shadow: 0px 0px 10px 2px #0fdae7; }
    .home-orbit .el__box2 a {
      display: block;
      padding: 25px 5px 20px;
      background: -webkit-linear-gradient(270deg, #fed43e 20%, #f48329);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
.home-cordinator {
  position: relative;
  padding: 50px 0; }
  .home-cordinator .nav-tabs--s2 {
    border: 0; }
    .home-cordinator .nav-tabs--s2 .nav-item {
      flex: 0 0 auto;
      width: calc( 100% / 5); }
    .home-cordinator .nav-tabs--s2 .nav-link:hover, .home-cordinator .nav-tabs--s2 .nav-link:focus, .home-cordinator .nav-tabs--s2 .nav-link:focus-visible {
      border: 0; }
    .home-cordinator .nav-tabs--s2 .nav-link.active, .home-cordinator .nav-tabs--s2 .nav-item.show .nav-link, .home-cordinator .nav-tabs--s2 .nav-item:hover {
      background: transparent; }
      .home-cordinator .nav-tabs--s2 .nav-link.active .el__item, .home-cordinator .nav-tabs--s2 .nav-item.show .nav-link .el__item, .home-cordinator .nav-tabs--s2 .nav-item:hover .el__item {
        transform: translateY(-5px); }
      .home-cordinator .nav-tabs--s2 .nav-link.active .el__item__title, .home-cordinator .nav-tabs--s2 .nav-item.show .nav-link .el__item__title, .home-cordinator .nav-tabs--s2 .nav-item:hover .el__item__title {
        color: #10deeb; }
    .home-cordinator .nav-tabs--s2 .nav-link {
      width: 100%;
      border: 0; }
  .home-cordinator .el__item {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    transition: all .5s; }
    .home-cordinator .el__item:hover {
      transform: translateY(-5px); }
    .home-cordinator .el__item__thumb {
      margin-bottom: 24px; }
    .home-cordinator .el__item .dnfix__thumb {
      padding-top: 78%; }
    .home-cordinator .el__item__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #fff; }
    .home-cordinator .el__item__excerpt {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #FFFFFF; }
      .home-cordinator .el__item__excerpt p:not(:last-child) {
        margin-bottom: 8px; }
.home-about {
  padding: 100px 0 150px; }
  .home-about .el__box {
    max-width: 1085px;
    margin: 0 auto;
    font-family: Mahameru;
    font-weight: 100;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 11px rgba(67, 255, 255, 0.73); }
    .home-about .el__box strong {
      font-weight: 500;
      color: #26FDFD; }
    .home-about .el__box__thumb {
      margin-bottom: 50px; }
.home-partners {
  position: relative;
  padding: 150px 0;
  background: url(../img/home-partner-bg.jpg) no-repeat;
  background-size: cover; }
  .home-partners .js-partner-content {
    position: relative;
    height: 540px;
    overflow: hidden;
    transition: all .5s; }
    .home-partners .js-partner-content:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 55%;
      background: url(../img/home-partner-more.jpg) no-repeat;
      background-size: cover;
      z-index: 1;
      transition: all .5s; }
    .home-partners .js-partner-content.active {
      height: auto; }
      .home-partners .js-partner-content.active:before {
        height: 0; }
  .home-partners .el__box {
    position: relative; }
    .home-partners .el__box__readmore {
      font-family: Mahameru;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      margin-top: 10px;
      text-transform: capitalize;
      cursor: pointer;
      background: -webkit-linear-gradient(90deg, #039099, #11E4F1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      transition: all .5s; }
      .home-partners .el__box__readmore [class^="icon-"] {
        display: block;
        font-size: 14px;
        background: -webkit-linear-gradient(45deg, #039099, #11E4F1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .home-partners .el__box__readmore:hover {
        transform: scale(1.1); }
  .home-partners .el__item {
    padding: 10px 24px;
    background: #F2FFFF;
    border-radius: 10px;
    margin-bottom: 30px; }
    .home-partners .el__item .dnfix__thumb {
      padding-top: 40px; }
@media (max-width: 1399px) {
  .home-banner {
    margin-bottom: -100px; }
    .home-banner .el__title {
      font-size: 80px;
      line-height: 85px; }
    .home-banner .el__excerpt {
      font-size: 18px; }
  .home-mentor__slider {
    width: 110%; }
  .home-mentor ul.slick-dots {
    right: calc( (110% - 1200px)/2 ); } }
@media (max-width: 1299px) {
  .home-banner .el__title {
    font-size: 70px;
    line-height: 80px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .home-cordinator .el__col {
    width: 25%; }
  .home-service .el__col {
    width: 25%; } }
@media (max-width: 1199px) {
  .home-banner {
    padding-top: 90%;
    min-height: 900px;
    margin-bottom: -150px; }
    .home-banner .el__meta {
      padding-top: 20%; }
  .home-intro .slider__item2__title {
    font-size: 48px;
    line-height: 52px; }
  .home-factory {
    padding: 80px 0 110px; }
    .home-factory .el__box {
      padding: 80px 100px 120px; }
  .home-mentor ul.slick-dots {
    right: calc( (110% - 93%)/2 ); }
  .home-service {
    padding: 100px 0 30px; }
  .home-mentor {
    padding: 100px 0 50px; }
    .home-mentor .slider__item {
      width: 250px; }
      .home-mentor .slider__item__title {
        font-size: 18px; }
  .home-fund {
    position: relative;
    padding: 100px 0 60px; }
  .home-orbit {
    position: relative;
    padding: 100px 0 40px; }
    .home-orbit-slider {
      margin-bottom: 30px; }
    .home-orbit .el__boxs {
      padding-top: 100px; }
  .home-cordinator {
    padding: 100px 0 50px; }
  .home-about {
    padding: 100px 0; }
    .home-about .el__box {
      font-size: 36px;
      line-height: 50px; }
  .home-partners {
    padding: 100px 0; }
    .home-partners .js-partner-content {
      height: 520px;
      margin-bottom: 30px; }
  .home .home-mega {
    padding: 25px 0 50px; } }
@media (max-width: 991px) {
  .home-banner {
    padding-top: 90%; }
    .home-banner .el__title {
      font-size: 50px;
      line-height: 60px; }
  .home-intro .slider__item2 {
    padding-top: 30px; }
    .home-intro .slider__item2__thumb {
      margin-bottom: 30px; }
  .home-factory .el__box {
    padding: 80px 50px 120px; }
  .home-factory .el__icon {
    bottom: -50px; } }
@media (max-width: 767px) {
  .home-banner .el__meta {
    padding-top: 30%; }
  .home-intro .slider__item2 {
    text-align: center;
    line-height: 26px; }
  .home-intro .slider__item__thumb {
    max-width: 300px;
    margin: 0 auto 10px; }
  .home-mega .sc__header {
    text-align: center; }
  .home-mega .el__item.-s2 {
    top: 0; }
  .home-factory {
    padding: 0 0; }
    .home-factory .el__box {
      border-radius: 0;
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem);
      background-image: url(../img/home-factory-mb.png); }
    .home-factory .el__icon {
      position: relative;
      max-width: 100%; }
  .home-mentor {
    padding: 50px 0 0; }
    .home-mentor .sc__header {
      text-align: center; }
    .home-mentor__slider {
      margin-bottom: 30px; }
    .home-mentor ul.slick-dots {
      left: 0;
      bottom: 0;
      top: auto; }
  .home-orbit .sc__header {
    text-align: center; }
  .home-service .row {
    --bs-gutter-x: 1.5rem; } }
@media (max-width: 575px) {
  .home-intro {
    padding: 30px 0px 75px; }
  .home-about .el__box {
    font-size: 28px;
    line-height: 40px; }
  .home-partners .js-partner-content {
    height: 558px;
    margin-bottom: 30px; }
  .home-partners .row {
    --bs-gutter-x: 10px; }
  .home-partners .el__item {
    margin-bottom: 10px; }
  .home-banner {
    padding-top: 200%;
    margin-bottom: -35%;
    background-image: url(../img/home-banner-bg-mb.png); }
    .home-banner .el__title {
      font-size: 48px;
      line-height: 52px; }
    .home-banner .el__meta {
      padding-top: 45%; }
    .home-banner .el__excerpt {
      font-size: 14px;
      line-height: 34px; } }
@media (max-width: 480px) {
  .home-mentor .slider__item {
    width: 100%; }
  .home-mentor__slider {
    width: 100%; } }

.page__header {
  position: relative;
  padding: 250px 0 80px; }
  .page__header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/pages/page-header-bg.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    text-align: center;
    z-index: -1; }
  .page__header .container {
    position: relative; }
  .page__header__title {
    font-family: Mahameru;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF; }
  @media (max-width: 767px) {
    .page__header {
      padding: 250px 0 30px; }
      .page__header:before {
        height: 160%;
        background-image: url(../img/pages/page-header-bg-mb.png); } }

.wrap__page {
  position: relative;
  padding: 50px 0; }

.sc__header2__title {
  font-family: Mahameru;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 40px; }

.achievement__box {
  margin-bottom: 50px; }
  .achievement__box .el__item {
    padding: 15px;
    background: linear-gradient(180deg, #322F69 30.23%, #0B042B 95.46%);
    border-radius: 15px;
    margin-bottom: 30px; }
    .achievement__box .el__item__thumb img {
      border-radius: 4px; }
    .achievement__box .el__item .dnfix__thumb {
      padding-top: 100%; }
    .achievement__box .el__item__meta {
      padding: 15px 10px 5px; }
    .achievement__box .el__item__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF; }

.ourteam__box {
  position: relative;
  margin-bottom: 80px; }
  .ourteam__box .el__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .ourteam__box .el__list {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize; }
    .ourteam__box .el__list li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 15px; }
      .ourteam__box .el__list li:before {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 4px;
        height: 4px;
        background: #fff; }
    .ourteam__box .el__list__label {
      font-weight: bold; }

.ourteam__tab {
  margin-bottom: 50px; }
  .ourteam__tab .nav-tabs {
    justify-content: center;
    margin-bottom: 50px;
    border: 0; }
    .ourteam__tab .nav-tabs li:not(:last-child) {
      margin-right: 30px; }
    .ourteam__tab .nav-tabs .nav-link {
      min-width: 235px;
      background: linear-gradient(0deg, #223366 0%, #129EC0 100%);
      border-radius: 10px;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: #EDEDED;
      border: 0;
      padding: 18px 20px;
      opacity: 0.5;
      margin-bottom: 20px;
      transition: all .5s; }
      .ourteam__tab .nav-tabs .nav-link.active {
        opacity: 1; }
  .ourteam__tab .ourteam__slider {
    --space: 20px; }
  .ourteam__tab .ourteam__item {
    position: relative;
    margin-bottom: 50px;
    text-align: center; }
    .ourteam__tab .ourteam__item.-large:before {
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(180deg, #19729B 0%, rgba(4, 39, 75, 0) 100%);
      z-index: -1;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px; }
    .ourteam__tab .ourteam__item__thumb {
      position: relative;
      margin-bottom: 15px; }
    .ourteam__tab .ourteam__item .dnfix__thumb {
      padding-top: 100%; }
    .ourteam__tab .ourteam__item__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF; }
    .ourteam__tab .ourteam__item__sub {
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #85B8FF; }
  @media (max-width: 991px) {
    .ourteam__tab .nav-tabs {
      flex-wrap: nowrap;
      justify-content: left;
      overflow-y: auto; }
      .ourteam__tab .nav-tabs::-webkit-scrollbar {
        display: none; }
      .ourteam__tab .nav-tabs .nav-link {
        min-width: 200px; } }

/*# sourceMappingURL=main.css.map */
