@font-face {
    font-family: 'Mahameru';
    src: url('Mahameru-Medium.woff2') format('woff2'),
        url('Mahameru-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

