.home .footer{
	background-image: url(../img/footer-bg.jpg);
	padding: 95px 0 40px;
	@media (max-width: 767px){
		padding: 80px 0 40px;
	}
}
.footer{
	padding: 18% 0 40px;
	background: url(../img/footer-bg2.png) no-repeat;
	background-size: cover;
	background-position: center bottom;
	&__contact{
		position: relative;
		margin-bottom: 215px;
		&__wrap{
			position: relative;
			padding-bottom:80px;
			&:before, &:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50%;
				height: 1px;
				background: linear-gradient(45deg, #8AD5FF, transparent);
			}
			&:after{
				left: auto;
				right: 0;
				transform: rotate(180deg);
			}
		}

		.sc__header{
			margin: 0 0 -15px;
		}
		&__readmore{
			position: relative;
			display: inline-block;
			min-width: 240px;
			padding: 16px 16px;
			text-align: center;
			background: linear-gradient(360deg, #039099 0%, #11E4F1 100%);
			border-radius: 3px;
			font-weight: bold;
			font-size: 18px;
			color: #FFFFFF;
			&:after {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    height: 100%;
			    background: linear-gradient(101.72deg, #11e3f0 6.16%, #04969f 95.73%);
			    border-radius: 3px;
			    opacity: 0;
			    transition: all .5s;
			}
			span{
				position: relative;
				z-index: 1;
			}
			&:hover{
				color: #fff;
				&:after {
				    height: 100%;
				    opacity: 1;
				}
			}
		}
	}
	&__nav{
		margin-bottom: 90px;
		.el__menu{
			font-weight: 600;
			font-size: 12px;
			line-height: 22px;
			text-align: center;
			text-transform: capitalize;
			color: #FFFFFF;
	        width: 100%;
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        flex-wrap: wrap;
	        padding:0px 0;
	        background:none;

	        a{
	        	color: #fff;
	        	transition: all .5s;
	        }
	        &>li{
	            position:relative;display:inline-block;
	            padding: 0 2px;
	            >a{
	                position: relative;
	                padding: 8px 10px;
	                display: block;
	                text-transform: uppercase;
	            }
	        }
	        &>li:hover a, &>li.active a, .current_page_parent a, .current-menu-parent a{
	        	color: #11e3f0;
	        }
	    }
    }
    &__logo{
    	display: block;
    	margin-bottom: 40px;
    	text-align: center;
    	img{
    		width: auto;
    		max-height: 100px;
    	}
    }
    &__socical{
    	margin-bottom: 40px;
    	text-align: center;
    	color: #FFFFFF;
    	strong{
			font-weight: bold;
			font-size: 12px;
			line-height: 18px;
			text-transform: uppercase;
			opacity: 0.3;
    	}
    	p{
			font-size: 14px;
			line-height: 21px;
    	}
    	a{
    		color: #FFFFFF;
    	}
    	ul{
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		a {
			    color: #FFFFFF;
			    width: 20px;
			    height: 20px;
			    font-size: 14px;
			    background: #535353;
			    border-radius: 50%;
			    display: block;
			    margin: 0 5px;
			    color: #fff;
			    font-size: 11px;
			    line-height: 21px;
			    transition: all .5s;
			    &:hover{
			    	background: #0fdae7;
			    	color: #222;
			    	transform: translateY(-5px);
			    }
			}
			.icon-telegram {
			    font-size: 9px;
			    position: relative;
			    left: -1px;
			}
			.icon-linkin {
			    font-size: 9px;
			    position: relative;
			    top: -1px;
			}

    	}
    }
    .copyright{
		font-size: 12px;
		line-height: 18px;
		color: #FFFFFF;
    }
    @media (max-width: 1199px){
    	&__contact {
		    margin-bottom: 100px;
		}
    }
    @media (max-width: 767px){
		padding: 18% 0 40px;
		&__contact{
   			margin-bottom: 40px;
			.sc__header {
			    width: 100%;
			    text-align: center;
			    margin-bottom: 30px;
			}
			.el__col{
				text-align: center;
				width: 100%;
			}
		}
		&__nav {
		    margin-bottom: 40px;
		}

    }
}