.sc__header{
    margin: 0 auto 80px;
    &__title{
        font-family: Mahameru;
        font-weight: 500;
        font-size: 58px;
        line-height: 58px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__excerpt{
        font-size: 16px;
        line-height: 26px;
        text-transform: capitalize;
        color: #FFFFFF;
        opacity: 0.8;
    }
    @media (max-width: 1199px){
        &__title{
            font-size: 48px;
            line-height: 52px;
        }
    }
    @media (max-width: 767px){
        margin: 0 auto 30px;
        &__title {
            margin-bottom: 16px;
        }
    }
    @media (max-width: 575px){
        margin: 0 auto 30px;
        &__excerpt{
            font-size: 14px;
        }
    }

}
